@charset "utf-8";

/***********************************************************
  root
***********************************************************/
:root {
  --width-xxs: #{$width-xxs};
  --width-xs: #{$width-xs};
  --width-s: #{$width-s};
  --width-m: #{$width-m};
  --width-l: #{$width-l};
  --width-xl: #{$width-xl};
  --width-xxl: #{$width-xxl};


  --color-black: #{$color-black};
  --color-white: #{$color-white};

  --color-main: #{$color-main};
  --color-accent: #{$color-accent};

  --color-text: #{$color-text};
  --color-bg: #{$color-bg};
  --color-anchor: #{$color-anchor};
  --color-border: #{$color-border};

  --color-danger: #{$color-danger};
  --color-success: #{$color-success};
  --color-info: #{$color-info};
  --color-caution: #{$color-caution};

  --line-height-title: #{$line-height-title};
  --line-height-sentence: #{$line-height-sentence};

  --font-size-global: #{$font-size-global};
  --font-size-xxs: #{$font-size-xxs};
  --font-size-xs: #{$font-size-xs};
  --font-size-s: #{$font-size-s};
  --font-size-m: #{$font-size-m};
  --font-size-l: #{$font-size-l};
  --font-size-xl: #{$font-size-xl};
  --font-size-xxl: #{$font-size-xxl};

  @include when-dark-mode {
    --color-main: #{$dark-color-main};
    --color-accent: #{$dark-color-accent};

    --color-text: #{$dark-color-text};
    --color-bg: #{$dark-color-bg};
    --color-anchor: #{$dark-color-anchor};
    --color-border: #{$dark-color-border};

    --color-danger: #{$dark-color-danger};
    --color-success: #{$dark-color-success};
    --color-info: #{$dark-color-info};
    --color-caution: #{$dark-color-caution};
  }
}
/***********************************************************
  html
***********************************************************/
:where(html) {
  font-size: $font-size-global;
}

/***********************************************************
  Body
***********************************************************/
:where(body) {
  font-size: $font-size-m;
  font-family: $font-family-global;
  overflow-y: scroll;
  min-width: 320px;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/***********************************************************
  Anchor
***********************************************************/
:where(a) {
  text-decoration: none;
  color: var(--color-anchor);
  &:hover { text-decoration: underline }
}

/***********************************************************
  Strong
***********************************************************/
:where(strong) {
  font-weight: bold;
}

/***********************************************************
  HR
***********************************************************/
:where(hr) {
  border: none;
  height: 1px;
  background-color: var(--color-border);
}

/***********************************************************
  Code
***********************************************************/
:where(code) {
  display: block;
  color: white;
  white-space: pre;
  background-color: #111;
  font-family: "Ricty Diminished", "Ricty Diminished Discord", "Source code pro", monospace;
  font-size: 12px;
  line-height: 1.2;
  transform: rotate(0.028deg);
}

/***********************************************************
  Block quote
***********************************************************/
:where(blockquote) {
  border-left: 5px solid var(--color-border);
  padding-left: 1em;
}

/***********************************************************
  Input and Textarea
***********************************************************/
:where(input[type=text]),
:where(input[type=search]),
:where(input[type=tel]),
:where(input[type=url]),
:where(input[type=email]),
:where(input[type=password]),
:where(input[type=datetime]),
:where(input[type=date]),
:where(input[type=month]),
:where(input[type=week]),
:where(input[type=time]),
:where(input[type=datetime-local]),
:where(input[type=number]),
:where(textarea) {
  border: 1px solid var(--color-border);
  font-size: $font-size-m;
  font-family: $font-family-global;
  background-color: var(--color-bg);
  color: var(--color-text);
  &:focus {
    outline: none;
    border-color: var(--color-anchor);
  }
}
