@charset "utf-8";

/**********************************************************
  Sentence
**********************************************************/
%sentence {
  line-height: $line-height-sentence;
}

.sentence {
  @extend %sentence;
}

/**********************************************************
  Title
**********************************************************/
%title {
  line-height: $line-height-title;
}

/**********************************************************
  Button
**********************************************************/
%button {
  @include block-module-all;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: $line-height-title;
  font-size: $font-size-m;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

/**********************************************************
  Textfield
**********************************************************/
%textfield {
  font-size: $font-size-m;
  font-family: $font-family-global;
}
