@charset "utf-8";

/***********************************************************
* Text
***********************************************************/

/*----------------------------------------------------------
* Font size */

@include generate-with-responsive-classes using ($prefix) {
  .#{class-name("fs", "xxs", $prefix)} { font-size: $font-size-xxs; }
  .#{class-name("fs", "xs",  $prefix)} { font-size: $font-size-xs;  }
  .#{class-name("fs", "s",   $prefix)} { font-size: $font-size-s;   }
  .#{class-name("fs", "m",   $prefix)} { font-size: $font-size-m;   }
  .#{class-name("fs", "l",   $prefix)} { font-size: $font-size-l;   }
  .#{class-name("fs", "xl",  $prefix)} { font-size: $font-size-xl;  }
  .#{class-name("fs", "xxl", $prefix)} { font-size: $font-size-xxl; }
}

/*----------------------------------------------------------
* Text align */

@include generate-with-responsive-classes using ($prefix) {
  .#{class-name("align", "left",   $prefix)} { text-align: left; }
  .#{class-name("align", "center", $prefix)} { text-align: center; }
  .#{class-name("align", "right",  $prefix)} { text-align: right; }
}

/*----------------------------------------------------------
* ETC */

.bold { font-weight: bold }
.monospace { font-family: monospace }
.underline { text-decoration: underline; }
.bracket {
  display: inline-block;
  &:before{ content: "(" }
  &:after{ content: ")" }
}
.ul {
  list-style-type: disc;
  margin-left: 1.5em;
}
.ol {
  list-style-type: decimal;
  margin-left: 1.5em;
}
.ref {
  position: relative;
  padding-left: 1.5em;
  &:before {
    content: "※";
    position: absolute;
    display: inline-block;
    left: 0;
  }
}
.antialias { transform: rotate(0.028deg) }


// .clamp-{ 1 - 5 }
@include clamp-classes(1,5);



/***********************************************************
* Position
***********************************************************/
/*----------------------------------------------------------
* Position */

@include generate-with-responsive-classes using ($prefix) {
  .#{class-name("position", "static",   $prefix)} { position: static; }
  .#{class-name("position", "relative", $prefix)} { position: relative; }
  .#{class-name("position", "absolute", $prefix)} { position: absolute; }
}

/*----------------------------------------------------------
* Float */

@include generate-with-responsive-classes using ($prefix) {
  .#{class-name("float", "left",  $prefix)} { float: left; }
  .#{class-name("float", "right", $prefix)} { float: right; }
  .#{class-name("float", "none",  $prefix)} { float: none; }
}

/***********************************************************
* Visibilities and Display
***********************************************************/
/*----------------------------------------------------------
* Display */

@include generate-with-responsive-classes using ($prefix) {
  .#{class-name("display", "block",        $prefix)} { display: block; }
  .#{class-name("display", "inline",       $prefix)} { display: inline; }
  .#{class-name("display", "inlineBlock",  $prefix)} { display: inline-block; }
}

/*----------------------------------------------------------
* Visibility */

@include generate-with-responsive-classes using ($prefix) {
  .#{class-name("invisible", "", $prefix)} { content-visibility: hidden; }
  .#{class-name("visible",   "", $prefix)} { content-visibility: visible; }
}

/*----------------------------------------------------------
* Opacity */

@for $v from 0 through 9 {
  .#{class-name("op", "0#{$v}")} { opacity: $v * .1; }
}
.#{class-name("op", "10")} { opacity: 1; }

/*----------------------------------------------------------
* ETC */

.sandbox { overflow: hidden }

/***********************************************************
* Color
***********************************************************/
@include generate-with-theme-classes using ($prefix) {
  @include color-classes("white",   var(--color-white),   $prefix);
  @include color-classes("black",   var(--color-black),   $prefix);

  @for $i from 0 through 9 {
    @include color-classes("white-#{$i*10}", rgba(white,$i*.1),   $prefix);
    @include color-classes("black-#{$i*10}", rgba(black,$i*.1),   $prefix);
  }
  @include color-classes("white-100", white, $prefix);
  @include color-classes("black-100", black, $prefix);

  @include color-classes("main",    var(--color-main) ,   $prefix);
  @include color-classes("accent",  var(--color-accent),  $prefix);

  @include color-classes("text",    var(--color-text),    $prefix);
  @include color-classes("bg",      var(--color-bg),      $prefix);
  @include color-classes("anchor",  var(--color-anchor),  $prefix);
  @include color-classes("border",  var(--color-border),  $prefix);

  @include color-classes("danger",  var(--color-danger),  $prefix);
  @include color-classes("success", var(--color-success), $prefix);
  @include color-classes("info",    var(--color-info),    $prefix);
  @include color-classes("caution", var(--color-caution), $prefix);
}

.#{class-name("color", "clip")} {
  color: transparent;
  -webkit-background-clip: text;
}

/*----------------------------------------------------------
* ETC */

.monochrome { filter: grayscale(100%); -webkit-filter: grayscale(100%) }

/***********************************************************
* ETC
***********************************************************/
/*----------------------------------------------------------
* Clearfix */

.cf { display: block; clear: both; }

/*----------------------------------------------------------
* Pointer events */

@include generate-with-responsive-classes using ($prefix) {
  .#{class-name("ignorePointerEvents", "", $prefix)} {
    pointer-events: none;
  }
}
