@charset "utf-8";

/***********************************************************
* Text
***********************************************************/

/*----------------------------------------------------------
* Font size */

@mixin font-size-utils( $prefix: "" ) {
  .#{$prefix}fs-xxs { font-size: $font-size-xxs };
  .#{$prefix}fs-xs  { font-size: $font-size-xs  };
  .#{$prefix}fs-s   { font-size: $font-size-s   };
  .#{$prefix}fs-m   { font-size: $font-size-m   };
  .#{$prefix}fs-l   { font-size: $font-size-l   };
  .#{$prefix}fs-xl  { font-size: $font-size-xl  };
  .#{$prefix}fs-xxl { font-size: $font-size-xxl };
}
@include font-size-utils;
@include bp-l-or-lower { @include font-size-utils("l\\:"); }
@include bp-m-or-lower { @include font-size-utils("m\\:"); }
@include bp-s-or-lower { @include font-size-utils("s\\:"); }

/*----------------------------------------------------------
* Text align */

@mixin text-align-utils( $prefix: "" ) {
  .#{$prefix}align-left   { text-align: left   };
  .#{$prefix}align-center { text-align: center };
  .#{$prefix}align-right  { text-align: right  };
}
@include text-align-utils;
@include bp-l-or-lower { @include text-align-utils("l\\:"); }
@include bp-m-or-lower { @include text-align-utils("m\\:"); }
@include bp-s-or-lower { @include text-align-utils("s\\:"); }

/*----------------------------------------------------------
* ETC */

.bold { font-weight: bold }
.monospace { font-family: monospace }
.underline { text-decoration: underline; }
.bracket {
  display: inline-block;
  &:before{ content: "(" }
  &:after{ content: ")" }
}
.ul {
  list-style-type: disc;
  margin-left: 1.5em;
}
.ol {
  list-style-type: decimal;
  margin-left: 1.5em;
}
.ref {
  position: relative;
  padding-left: 1.5em;
  &:before {
    content: "※";
    position: absolute;
    display: inline-block;
    left: 0;
  }
}
.antialias { transform: rotate(0.028deg) }


// .clamp-{ 1 - 5 }
@include clamp-classes(1,5);



/***********************************************************
* Position
***********************************************************/
/*----------------------------------------------------------
* Position */

@mixin position-utils( $prefix: "" ) {
  .#{$prefix}position-static   { position: static   };
  .#{$prefix}position-relative { position: relative };
  .#{$prefix}position-absolute { position: absolute };
}
@include position-utils;
@include bp-l-or-lower { @include position-utils("l\\:"); }
@include bp-m-or-lower { @include position-utils("m\\:"); }
@include bp-s-or-lower { @include position-utils("s\\:"); }

/*----------------------------------------------------------
* Float */

@mixin float-utils( $prefix: "" ) {
  .#{$prefix}float-left  { float: left  };
  .#{$prefix}float-right { float: right };
  .#{$prefix}float-none  { float: none  };
}
@include float-utils;
@include bp-l-or-lower { @include float-utils("l\\:"); }
@include bp-m-or-lower { @include float-utils("m\\:"); }
@include bp-s-or-lower { @include float-utils("s\\:"); }

/***********************************************************
* Visibilities and Display
***********************************************************/
/*----------------------------------------------------------
* Display */

@mixin display-utils( $prefix: "" ) {
  .#{$prefix}display-block       { display: block        };
  .#{$prefix}display-inline      { display: inline       };
  .#{$prefix}display-inlineBlock { display: inline-block };
}
@include display-utils;
@include bp-l-or-lower { @include display-utils("l\\:"); }
@include bp-m-or-lower { @include display-utils("m\\:"); }
@include bp-s-or-lower { @include display-utils("s\\:"); }

/*----------------------------------------------------------
* Visibility */

@mixin visibility-utils( $prefix: "" ) {
  .#{$prefix}invisible { content-visibility: hidden; }
  .#{$prefix}visible   { content-visibility: visible; }
}
@include visibility-utils;
@include bp-l-or-lower { @include visibility-utils("l\\:"); }
@include bp-m-or-lower { @include visibility-utils("m\\:"); }
@include bp-s-or-lower { @include visibility-utils("s\\:"); }

/*----------------------------------------------------------
* Opacity */

@for $v from 0 through 9 { .op-#{$v} { opacity: $v * .1 } }
.op-10 { opacity: 1 }

/*----------------------------------------------------------
* ETC */

.sandbox { overflow: hidden }

/***********************************************************
* Color
***********************************************************/
@for $v from 0 through 20 {
  $v: $v * 5;
  .color-hazy#{ $v } { color: mix($color-text,$color-bg, 100% - $v * 1%) }
  .bg-hazy#{ $v } { background-color: mix($color-text,$color-bg, 100% - $v * 1%) }
  @include when-dark-mode {
    .color-hazy#{ $v } { color: mix($dark-color-text,$dark-color-bg, 100% - $v * 1%) }
    .bg-hazy#{ $v } { background-color: mix($dark-color-text,$dark-color-bg, 100% - $v * 1%) }
  }
}

@for $v from 0 through 20 {
  $v: $v * 5;
  @include when-dark-mode {
    .dark\:color-hazy#{ $v } { color: mix($dark-color-text,$dark-color-bg, 100% - $v * 1%) }
    .dark\:bg-hazy#{ $v } { background-color: mix($dark-color-text,$dark-color-bg, 100% - $v * 1%) }
  }
}

@include color-classes("white",   var(--color-white));
@include color-classes("black",   var(--color-black));

@include color-classes("main",    var(--color-main));
@include color-classes("accent",  var(--color-accent));

@include color-classes("text",    var(--color-text));
@include color-classes("bg",      var(--color-bg));
@include color-classes("anchor",  var(--color-anchor));
@include color-classes("border",  var(--color-border));

@include color-classes("danger",  var(--color-danger));
@include color-classes("success", var(--color-success));
@include color-classes("info",    var(--color-info));
@include color-classes("caution", var(--color-caution));

.color-clip {
  color: transparent;
  -webkit-background-clip: text;
}

/*----------------------------------------------------------
* ETC */

.monochrome { filter: grayscale(100%); -webkit-filter: grayscale(100%) }

/***********************************************************
* ETC
***********************************************************/
/*----------------------------------------------------------
* Clearfix */

.cf { display: block; clear: both; }

/*----------------------------------------------------------
* Pointer events */

@mixin pointer-events-utils( $prefix: "" ) {
  .#{$prefix}ignorePointerEvents { pointer-events: none };
}
@include pointer-events-utils;
@include bp-l-or-lower { @include pointer-events-utils("l\\:"); }
@include bp-m-or-lower { @include pointer-events-utils("m\\:"); }
@include bp-s-or-lower { @include pointer-events-utils("s\\:"); }
