@charset "utf-8";

/***********************************************************
  Block center
***********************************************************/
.region {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/***********************************************************
  Flex & Flex item
***********************************************************/
%flex-container { @include flex-module-all }
%flex-item { }
.flex     { @extend %flex-container }
.flexItem { @extend %flex-item }

/***********************************************************
  Block
***********************************************************/
%block { @include block-module-all; }
.block { @extend %block }

/***********************************************************
  Container
***********************************************************/
.container {
  container-type: inline-size;
}

/***********************************************************
  Stick
***********************************************************/
%stick { @include stick-module-all }
.stick { @extend %stick }

/***********************************************************
  Other
***********************************************************/
@mixin caution {
  &:before {
    content: "レイアウトクラスの同時使用は禁止されています";
    color: red;
    outline: 1px solid red;
  }
}
.region { &.flex,&.flexItem,&.block,&.stick { @include caution } }
.flex { &.region,&.flexItem,&.block,&.stick { @include caution } }
.flexItem { &.region,&.flex,&.block,&.stick { @include caution } }
.block { &.region,&.flex,&.flexItem,&.stick { @include caution } }
.stick { &.region,&.flex,&.flexItem,&.block { @include caution } }
