@charset "utf-8";
@use "sass:math";

/***********************************************************
* Break point
***********************************************************/
@mixin bp-s-or-lower {
  @media screen and ( max-width: nth($bp-widths, 1) ) { @content }
}
@mixin bp-m-or-lower {
  @media screen and ( max-width: nth($bp-widths, 2) ) { @content }
}
@mixin bp-l-or-lower {
  @media screen and ( max-width: nth($bp-widths, 3) ) { @content }
}


/***********************************************************
* Theme
***********************************************************/
@mixin when-dark-mode {
  @if $enableSupportDarkMode {
    @media (prefers-color-scheme: dark) { @content }
  }
}

/***********************************************************
* Container query
***********************************************************/
@mixin container( $size ) {
  @container ( #{ $size } ) { @content }
}
@mixin container-less-than( $width ) {
  @container ( max-width: #{$width} ) { @content }
}

@mixin container-more-than( $width ) {
  @container ( max-width: #{$width} ) { @content }
}

/***********************************************************
* Block Module
***********************************************************/

/*----------------------------------------------------------
* All */

@mixin block-module-all {
  @include block-module-base;
  @include block-module-padding;
  @include block-module-margin;
  @include block-module-sticky;
}

/*----------------------------------------------------------
* Base */

@mixin block-module-base {
  display: block;
}

/*----------------------------------------------------------
* Padding */

@mixin block-module-padding( $prefix: "" ) {

  // All
  @for $s from 1 through 7 {
    &.#{$prefix}\(padding\:#{ nth($sizes, $s) }\) { padding: nth( $widths, $s ) }
  }

  // Axis
  @for $s from 1 through 7 {
    &.#{$prefix}\(padding-v\:#{ nth($sizes,$s) }\) {
      padding-top: nth( $widths, $s );
      padding-bottom: nth( $widths, $s );
    }
    &.#{$prefix}\(padding-h\:#{ nth($sizes,$s) }\) {
      padding-left: nth( $widths, $s );
      padding-right: nth( $widths, $s );
    }
  }

  // Direction
  @each $direction in $directions {
    $propName: "padding-#{ str-slice($direction,1,1)}";
    @for $s from 1 through 7 {
      &.#{$prefix}\(#{$propName}\:#{ nth($sizes, $s) }\) {
        padding-#{$direction}: nth( $widths, $s );
      }
    }
  }

  // Canceler
  &.#{$prefix}\(padding\:0\) { padding: 0 }
  &.#{$prefix}\(padding-v\:0\) { padding-top: 0; padding-bottom: 0 }
  &.#{$prefix}\(padding-h\:0\) { padding-left: 0; padding-right: 0 }
  &.#{$prefix}\(padding-t\:0\) { padding-top: 0 }
  &.#{$prefix}\(padding-l\:0\) { padding-left: 0 }
  &.#{$prefix}\(padding-r\:0\) { padding-right: 0 }
  &.#{$prefix}\(padding-b\:0\) { padding-bottom: 0 }

  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include block-module-padding( env-prefix("l") ) }
    @include bp-m-or-lower { @include block-module-padding( env-prefix("m") ) }
    @include bp-s-or-lower { @include block-module-padding( env-prefix("s") ) }
  }
}

/*----------------------------------------------------------
* Margin */

@mixin block-module-margin( $prefix: "" ) {

  // All
  @for $s from 1 through 7 {
    &.#{$prefix}\(margin\:#{ nth($sizes, $s) }\) { margin: nth( $widths, $s ) }
    &.#{$prefix}\(margin\:-#{ nth($sizes, $s) }\) { margin: nth( $widths, $s ) * -1 }
  }

  // Axis
  @for $s from 1 through 7 {
    &.#{$prefix}\(margin-v\:#{ nth($sizes,$s) }\) {
      margin-top: nth( $widths, $s );
      margin-bottom: nth( $widths, $s );
    }
    &.#{$prefix}\(margin-v\:-#{ nth($sizes,$s) }\) {
      margin-top: nth( $widths, $s ) * -1;
      margin-bottom: nth( $widths, $s ) * -1;
    }
    &.#{$prefix}\(margin-h\:#{ nth($sizes,$s) }\) {
      margin-left: nth( $widths, $s );
      margin-right: nth( $widths, $s );
    }
    &.#{$prefix}\(margin-h\:-#{ nth($sizes,$s) }\) {
      margin-left: nth( $widths, $s ) * -1;
      margin-right: nth( $widths, $s ) * -1;
    }
  }

  // Direction
  @each $direction in $directions {
    $propName: "margin-#{ str-slice($direction,1,1)}";
    @for $s from 1 through 7 {
      &.#{$prefix}\(#{$propName}\:#{ nth($sizes, $s) }\) {
        margin-#{$direction}: nth( $widths, $s );
      }
      &.#{$prefix}\(#{$propName}\:-#{ nth($sizes, $s) }\) {
        margin-#{$direction}: nth( $widths, $s ) * -1;
      }
    }
  }

  // Canceler
  &.#{$prefix}\(margin\:0\) { margin: 0 }
  &.#{$prefix}\(margin-v\:0\) { margin-top: 0; margin-bottom: 0 }
  &.#{$prefix}\(margin-h\:0\) { margin-left: 0; margin-right: 0 }
  &.#{$prefix}\(margin-t\:0\) { margin-top: 0 }
  &.#{$prefix}\(margin-l\:0\) { margin-left: 0 }
  &.#{$prefix}\(margin-r\:0\) { margin-right: 0 }
  &.#{$prefix}\(margin-b\:0\) { margin-bottom: 0 }

  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include block-module-margin( env-prefix("l") ) }
    @include bp-m-or-lower { @include block-module-margin( env-prefix("m") ) }
    @include bp-s-or-lower { @include block-module-margin( env-prefix("s") ) }
  }
}

/*----------------------------------------------------------
* Sticky */

@mixin block-module-sticky( $prefix: "" ) {
  &.#{$prefix}\(sticky\) { position: relative }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include block-module-sticky( env-prefix("l") ) }
    @include bp-m-or-lower { @include block-module-sticky( env-prefix("m") ) }
    @include bp-s-or-lower { @include block-module-sticky( env-prefix("s") ) }
  }
}

/***********************************************************
* Flex Module
***********************************************************/

/*----------------------------------------------------------
* All */

@mixin flex-module-all {
  @include flex-module-base;
  @include flex-module-axis;
  @include flex-module-gap;
  @include flex-module-justify;
  @include flex-module-align;
}

/*----------------------------------------------------------
* Base */

@mixin flex-module-base {
  display: flex;
  flex-direction: column;
  & > %flex-item { flex: 1 }
  & > %flex-item.\(fitContent\) {
    flex: 0 1 auto;
  }
}

/*----------------------------------------------------------
* Direction */

@mixin flex-module-axis( $prefix: "" ) {
  &.#{$prefix}\(axis\:x\)         { flex-direction: row }
  &.#{$prefix}\(axis\:reverse-x\) { flex-direction: row-reverse }
  &.#{$prefix}\(axis\:y\)         { flex-direction: column }
  &.#{$prefix}\(axis\:reverse-y\) { flex-direction: column-reverse }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include flex-module-axis( env-prefix("l") ) }
    @include bp-m-or-lower { @include flex-module-axis( env-prefix("m") ) }
    @include bp-s-or-lower { @include flex-module-axis( env-prefix("s") ) }
  }
}

/*----------------------------------------------------------
* Gap */

@mixin flex-module-gap( $prefix: "" ) {
  @for $s from 1 through 7 {
    &.#{$prefix}\(gap\:#{ nth($sizes, $s) }\) { gap: nth( $widths, $s ) }
  }
  &.#{$prefix}\(gap\:0\) { gap: 0 }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include flex-module-gap( env-prefix("l") ) }
    @include bp-m-or-lower { @include flex-module-gap( env-prefix("m") ) }
    @include bp-s-or-lower { @include flex-module-gap( env-prefix("s") ) }
  }
}

/*----------------------------------------------------------
* JustifyContent */

@mixin flex-module-justify( $prefix: "" ) {
  &.#{$prefix}\(justify\:left\)   { justify-content: flex-start }
  &.#{$prefix}\(justify\:center\) { justify-content: center }
  &.#{$prefix}\(justify\:right\)  { justify-content: flex-end }
  &.#{$prefix}\(justify\:start\)  { justify-content: flex-start }
  &.#{$prefix}\(justify\:end\)    { justify-content: flex-end }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include flex-module-justify( env-prefix("l") ) }
    @include bp-m-or-lower { @include flex-module-justify( env-prefix("m") ) }
    @include bp-s-or-lower { @include flex-module-justify( env-prefix("s") ) }
  }
}

/*----------------------------------------------------------
* AlignItems */

@mixin flex-module-align( $prefix: "" ) {
  &.#{$prefix}\(align\:top\)     { align-items: start }
  &.#{$prefix}\(align\:center\)  { align-items: center }
  &.#{$prefix}\(align\:bottom\)  { align-items: end }
  &.#{$prefix}\(align\:stretch\) { align-items: stretch }
  &.#{$prefix}\(align\:start\)   { align-items: start }
  &.#{$prefix}\(align\:end\)     { align-items: end }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include flex-module-align( env-prefix("l") ) }
    @include bp-m-or-lower { @include flex-module-align( env-prefix("m") ) }
    @include bp-s-or-lower { @include flex-module-align( env-prefix("s") ) }
  }
}

/***********************************************************
* Stick module
***********************************************************/

@mixin stick-module-all {
  position: absolute;
  @include stick-module-direction;
}

@mixin stick-module-direction( $prefix: "" ) {
  &.#{$prefix}\(vertical\)   { top: 0; bottom: 0 }
  &.#{$prefix}\(horizontal\) { left: 0; right: 0 }
  @each $direction in $directions {
    &.#{$prefix}\(#{$direction}\) { #{$direction}: 0 }
  }
  &.#{$prefix}\(parent\) { top: 0; left: 0; right: 0; bottom: 0 }

  $keys: "inset", "offset";
  @each $key in $keys {
    $n: 1;
    @if $key == "offset" { $n: -1 }
    @for $s from 1 through 7 {
      &.#{$prefix}\(#{$key}-v:#{ nth($sizes, $s) }\)   {
        top: nth( $widths, $s ) * $n;
        bottom: nth( $widths, $s ) * $n;
      }
      &.#{$prefix}\(#{$key}-h\:#{ nth($sizes, $s) }\) {
        left: nth( $widths, $s ) * $n;
        right: nth( $widths, $s ) * $n;
      }
      @each $direction in $directions {
        &.#{$prefix}\(#{$key}-#{ str-slice($direction,1,1)}\:#{ nth($sizes, $s) }\) {
          #{$direction}: nth( $widths, $s ) * $n
        }
      }
      &.#{$prefix}\(#{$key}-parent\:#{ nth($sizes, $s) }\) {
        top: nth( $widths, $s ) * $n;
        left: nth( $widths, $s ) * $n;
        right: nth( $widths, $s ) * $n;
        bottom: nth( $widths, $s ) * $n;
      }
    }
  }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include stick-module-direction( env-prefix("l") ) }
    @include bp-m-or-lower { @include stick-module-direction( env-prefix("m") ) }
    @include bp-s-or-lower { @include stick-module-direction( env-prefix("s") ) }
  }
}

/***********************************************************
* width module
***********************************************************/
@mixin width( $size ) {
  min-width: $size;
  max-width: $size;
}

@mixin width-module( $name, $size, $prefix: "" ) {
  .#{$prefix}w\:#{$name} {
    min-width: $size;
    max-width: $size;
  }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include width-module($name, $size, env-prefix("l") ) }
    @include bp-m-or-lower { @include width-module($name, $size, env-prefix("m") ) }
    @include bp-s-or-lower { @include width-module($name, $size, env-prefix("s") ) }
  }
}

@mixin width-classes( $unitClassName, $min: 1, $max: 10, $scale: 1, $prefix: "" ) {
  $unit: $unitClassName;
  @if( $unitClassName == "percent" or $unitClassName == "per" ) {
    $unit: "%";
  }
  @for $i from $min through $max {
    .#{$prefix}w\:#{$i * $scale}#{$unitClassName} {
      @include width( unquote(($i * $scale) + $unit) );
    }
  }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include width-classes($unitClassName, $min, $max, $scale, env-prefix("l") ) }
    @include bp-m-or-lower { @include width-classes($unitClassName, $min, $max, $scale, env-prefix("m") ) }
    @include bp-s-or-lower { @include width-classes($unitClassName, $min, $max, $scale, env-prefix("s") ) }
  }
}

/***********************************************************
* height module
***********************************************************/
@mixin height( $size ) {
  min-height: $size;
  max-height: $size;
}

@mixin height-module( $name, $size, $prefix: "" ) {
  .#{$prefix}h\:#{$name} {
    min-height: $size;
    max-height: $size;
  }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include height-module($name, $size, env-prefix("l") ) }
    @include bp-m-or-lower { @include height-module($name, $size, env-prefix("m") ) }
    @include bp-s-or-lower { @include height-module($name, $size, env-prefix("s") ) }
  }
}


@mixin height-classes( $unitClassName, $min: 1, $max: 10, $scale: 1, $prefix: "" ) {
  $unit: $unitClassName;
  @if( $unitClassName == "percent" or $unitClassName == "per" ) {
    $unit: "%";
  }
  @for $i from $min through $max {
    .#{$prefix}h\:#{$i * $scale}#{$unitClassName} {
      @include height( unquote(($i * $scale) + $unit) );
    }
  }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include height-classes($unitClassName, $min, $max, $scale, env-prefix("l") ) }
    @include bp-m-or-lower { @include height-classes($unitClassName, $min, $max, $scale, env-prefix("m") ) }
    @include bp-s-or-lower { @include height-classes($unitClassName, $min, $max, $scale, env-prefix("s") ) }
  }
}

/***********************************************************
* Aspect module
***********************************************************/
@mixin aspect( $x, $y ) {
  aspect-ratio: math.div($x, $y);
}

/***********************************************************
* Background pattern and gradient
***********************************************************/
@mixin gradient( $deg, $colors... ) {
  $prop: "#{$deg},";
  $len: length($colors);
  @for $i from 1 through $len {
    $color: nth($colors,$i);
    $prop: $prop + "#{$color} #{math.div( 100%, ( $len - 1) ) * ($i - 1)},";
  }
  background-image: linear-gradient( unquote( str-slice( $prop, 0, -2 ) ) );
}

@mixin gradient-v( $colors... ) {
  @include gradient( 180deg, $colors... );
}

@mixin gradient-h( $colors... ) {
  @include gradient( 90deg, $colors... );
}

@mixin stripe( $deg, $interval, $color1, $color2 ) {
  background-image: repeating-linear-gradient( $deg, $color1 0, $color1 $interval, $color2 $interval, $color2 $interval * 2 );
}

@mixin stripe-v( $interval, $color1, $color2 ) {
  @include stripe(90deg, $interval, $color1, $color2 );
}

@mixin stripe-h( $interval, $color1, $color2 ) {
  @include stripe(180deg, $interval, $color1, $color2 );
}

@mixin mesh( $deg, $border-width, $space-width, $border-color, $space-color ) {
  background-color: $space-color;
  background-image:
    repeating-linear-gradient(
      $deg,
        transparent 0, transparent $space-width,
        $border-color $space-width, $border-color $space-width + $border-width,
    ),
    repeating-linear-gradient(
      $deg + 90,
        transparent 0, transparent $space-width,
        $border-color $space-width, $border-color $space-width + $border-width,
    );

}
/***********************************************************
* clamp classes
***********************************************************/
@mixin clamp-classes($min,$max, $prefix: "" ) {
  @for $line from $min through $max {
    .#{$prefix}clamp\:#{$line} {
      display: -webkit-box;
      -webkit-line-clamp: $line;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  @if( $prefix == "" ) {
    @include bp-l-or-lower { @include clamp-classes($min, $max, env-prefix("l") ) }
    @include bp-m-or-lower { @include clamp-classes($min, $max, env-prefix("m") ) }
    @include bp-s-or-lower { @include clamp-classes($min, $max, env-prefix("s") ) }
  }
}

/***********************************************************
* Color-classes
***********************************************************/
@mixin color-classes( $name, $color, $prefix: "" ) {
  .#{$prefix}color\:#{$name} {
    color: $color;
  }
  .#{$prefix}bg\:#{$name} {
    background-color: $color;
  }
  @if( $prefix == "" ) {
    @include when-dark-mode { @include color-classes($name, $color, env-prefix("dark") ) }
  }
}
