:where(html), :where(body), :where(div), :where(span), :where(applet), :where(object), :where(iframe), :where(h1), :where(h2), :where(h3), :where(h4), :where(h5), :where(h6), :where(p), :where(blockquote), :where(pre), :where(a), :where(abbr), :where(acronym), :where(address), :where(big), :where(cite), :where(code), :where(del), :where(dfn), :where(em), :where(img), :where(ins), :where(kbd), :where(q), :where(s), :where(samp), :where(small), :where(strike), :where(strong), :where(sub), :where(sup), :where(tt), :where(var), :where(b), :where(u), :where(i), :where(center), :where(dl), :where(dt), :where(dd), :where(ol), :where(ul), :where(li), :where(fieldset), :where(form), :where(label), :where(legend), :where(table), :where(caption), :where(tbody), :where(tfoot), :where(thead), :where(tr), :where(th), :where(td), :where(article), :where(aside), :where(canvas), :where(details), :where(embed), :where(figure), :where(figcaption), :where(footer), :where(header), :where(hgroup), :where(menu), :where(nav), :where(output), :where(ruby), :where(section), :where(summary), :where(time), :where(mark), :where(audio), :where(video) {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
:where(html) {
  line-height: 1;
}
:where(ol), :where(ul) {
  list-style: none;
}
:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}
:where(caption),
 :where(th),
 :where(td) {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
:where(q), :where(blockquote) {
  quotes: none;
}
:where(q):before, :where(q):after, :where(blockquote):before, :where(blockquote):after {
  content: "";
  content: none;
}
:where(a) :where(img) {
  border: none;
}
:where(article), :where(aside), :where(details), :where(figcaption), :where(figure), :where(footer), :where(header), :where(hgroup), :where(menu), :where(nav), :where(section), :where(summary) {
  display: block;
}

